html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  --main-background-color: #ffffff;
  --secondary-background-color: #f3f3f3;
  --secondary-background-focus-color: #ebebeb;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-text-focus-color: rgba(117, 117, 117, 0.6);
  --sidebar-extension-background-image: url("/assets/tree_illustration_light.png");
  --highlight-color: #ec5739;
  --highlight-focus-color: #e0492b;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: #d3d3d3;
  --border-focus-color: #c1c1c1;
  --dark-toggle-border-color: rgba(211, 211, 211, 0.6);
  --dark-toggle-border-focus-color: rgba(211, 211, 211, 0.8);
  --canvas-border-color: #646464;
}
body.dark-theme {
  --main-background-color: #212121;
  --secondary-background-color: rgba(117, 117, 117, 0.3);
  --secondary-background-focus-color: rgba(117, 117, 117, 0.4);
  --main-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --secondary-text-focus-color: rgba(255, 255, 255, 0.6);
  --sidebar-extension-background-image: url("/assets/tree_illustration_dark.png");
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --border-color: #757575;
  --border-focus-color: #868686;
  --dark-toggle-border-color: rgba(255, 255, 255, 0.2);
  --dark-toggle-border-focus-color: rgba(255, 255, 255, 0.3);
  --canvas-border-color: #a8a8a8;
}
.container {
  display: grid;
  grid-template-columns: 262px 1fr;
  height: 100vh;
  z-index: 1;
}
/*--------CANVAS--------*/
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  position: relative;
}
canvas {
  border: 2px solid var(--canvas-border-color);
  border-radius: 8px;
}
canvas#grid-canvas {
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: default;
}
canvas#grid-canvas.active {
  opacity: 1;
}
canvas#grid-canvas.color-picker-mode {
  cursor: crosshair;
}
/*--------SIDEBAR--------*/
.sidebar {
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px 24px 32px 32px;
  background-color: var(--main-background-color);
  z-index: 5;
}
/*--------LIGHT DARK TOGGLE--------*/
#toggleDark {
  position: relative;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 58px;
  height: 30px;
  border: 2px solid var(--dark-toggle-border-color);
  border-radius: 40px;
  cursor: pointer;
}
#toggleDark:hover {
  border: 2px solid var(--dark-toggle-border-focus-color);
}
#toggleDark::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  right: 4px;
  top: 2.5px;
  background-image: url("/assets/sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out, right 0.4s ease-in-out,
    background-image 170ms ease-in-out 170ms;
}
#toggleDark:checked::before {
  right: 29px;
  transform: rotate(360deg);
  background-image: url("/assets/moon.svg");
}
/*--------HEADING--------*/
section.heading {
  margin-bottom: 40px;
}
header {
  width: 100%;
}
header h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 8px;
}
.version {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: var(--highlight-color);
  padding-left: 12px;
}
/*--------UTILITIES--------*/
.utilities > div:not(.download) {
  margin-bottom: 24px;
}
/*--------TAB--------*/
.tab {
  position: relative;
  width: 100%;
  height: 36px;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-focus-color);
  text-align: center;
}
.options {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 100%;
  height: 100%;
}
.options li {
  flex: 1;
  cursor: pointer;
  z-index: 2;
  transition: color ease-in 0.1s;
}
.options li.active {
  transition: color ease-in 400ms;
  color: var(--highlight-color);
}
.options li:not(.active):hover {
  color: var(--secondary-text-color);
}
.slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: 28px;
  background: var(--main-background-color);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  z-index: 1;
  transition: left ease-in-out 400ms;
}
/*--------GRID CONTROLS--------*/
.grid-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.grid-counter {
  width: 134px;
  height: 36px;
  background: var(--secondary-background-color);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text-color);
  font-size: 14px;
}
.grid-counter button {
  width: 34px;
  height: 29px;
}
#toggle-lines {
  width: 60px;
  height: 36px;
}
/*--------COLOR PICKER--------*/
.color-picker-box {
  margin-bottom: 18px;
}
#color-picker-handle {
  filter: url(#color-picker-handle-dropshadow);
  /*-webkit-filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.3));*/
}
#color-picker-iro {
  flex-flow: column nowrap;
}
#color-picker-iro svg {
  cursor: pointer;
}
svg.IroBox {
  margin-bottom: 16px;
}
#active-color {
  width: 50px;
  height: 32px;
  background-color: black;
  border-radius: 6px;
}
.color-picker-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#eye-dropper {
  width: 37px;
  height: 32px;
}
#hex {
  width: 99px;
  height: 32px;
}
/*--------DOWNLOAD--------*/
.download {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px dashed var(--border-color);
}
#download-button {
  width: 120px;
  height: 40px;
  background-color: var(--highlight-color);
  border-radius: 8px;
  color: #ffffff;
}
.select {
  position: relative;
}
#download-options {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--secondary-text-color);
  display: block;
  width: 74px;
  height: 40px;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 12px 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
}
#download-options:hover,
#download-options:focus {
  border: 1px solid var(--border-focus-color);
}
.select::after {
  content: "";
  pointer-events: none;
  width: 12px;
  height: 7px;
  background-image: url("/assets/dropdown.svg");
  position: absolute;
  top: 17px;
  right: 12px;
}
#download-options options {
  background-color: var(--highlight-focus-color);
}
/*--------MORE--------*/
.more {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex: 1;
}
.more a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-decoration: none;
}
#help-about {
  color: var(--highlight-color);
}
#help-about:hover {
  color: var(--highlight-focus-color);
}
#clear-all {
  color: #757575;
}
#clear-all:hover {
  color: var(--secondary-text-color);
}
/*--------SIDEBAR EXTENSION--------*/
.sidebar-extension {
  position: absolute;
  top: 0;
  /*sidebar extension width - sidebar width*/
  left: -85px;
  height: 100vh;
  width: 340px;
  padding: 32px 32px 56px;
  box-shadow: 4px 0px 48px 0px var(--box-shadow-color);
  z-index: 4;
  transition: left 0.5s ease-out 0.3s;
  background-color: var(--main-background-color);
  background-image: var(--sidebar-extension-background-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 0px right 40px;
  background-size: 45.5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-left: 2px solid var(--secondary-background-color);
}
.sidebar-extension section {
  opacity: 0;
  transition: opacity 0.4s ease-out 0.3s;
}
/*when sidebar is active*/
.sidebar-extension.active {
  transition: left 0.5s ease-out;
  left: 262px;
  opacity: 1;
}
.sidebar-extension.active section {
  opacity: 1;
  transition: opacity 1.2s ease-out;
}
#close-extension {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  /*sidebar extension width - (close button width / 2) */
  left: 320px;
  background: var(--main-background-color);
  box-shadow: 4px 0px 48px var(--box-shadow-color);
  border-radius: 50px;
  color: var(--highlight-color);
  font-size: 24px;
  line-height: 0;
  transform: scale(0) rotate(0deg);
  transition: transform 0.3s ease-out;
}
.sidebar-extension.active #close-extension {
  transform: scale(1) rotate(360deg);
  transition: transform 0.5s linear 0.1s;
}
.sidebar-extension section:not(.share) {
  margin-top: 16px;
  margin-bottom: 40px;
}
.sidebar-extension section.share {
  margin-top: auto;
}
.help p {
  line-height: 30px;
}
.about p {
  line-height: 24px;
  margin-bottom: 10px;
}
.credit {
  margin-top: 30px;
}
.about a {
  color: var(--highlight-color);
  text-decoration: underline;
}
.about a:hover {
  text-decoration: none;
}
.share-social-media {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.share-social-media a {
  margin-right: 15px;
}
.share-social-media a:hover {
  filter: brightness(0.8);
}
.share-social-media img {
  vertical-align: top;
  width: 24px;
  height: 24px;
}
/*--------POPUP MODULE--------*/
.popup-module {
  position: absolute;
  top: -100px;
  z-index: 3;
  width: 324px;
  height: 92px;
  background: var(--main-background-color);
  box-shadow: 4px 0px 56px var(--box-shadow-color);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.popup-module.active {
  top: 54px;
  opacity: 1;
  transition: all 1s 0.2s ease-in-out;
}
.popup-module img {
  width: 61px;
  height: 103px;
  margin-right: 12px;
  position: relative;
  top: calc(-16px - 23px);
}
.popup-module .text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.popup-module h2,
.popup-module .button {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  margin: 0;
}
.popup-module .button {
  background: none;
  color: var(--highlight-color);
}
/*--------COMMON--------*/
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: var(--main-text-color);
  margin: 0 0 8px 0;
}
p {
  width: 100%;
  letter-spacing: -0.5px;
  color: #757575;
  margin: 0;
}
strong {
  font-weight: 600;
  color: var(--main-text-color);
}
.button img,
.button svg {
  vertical-align: middle;
}
#toggle-lines svg,
#eye-dropper svg {
  fill: var(--secondary-text-color);
}
button > * {
  pointer-events: none;
}
.button {
  padding: 0;
  outline: none;
  display: block;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  cursor: pointer;
  transition: transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"] {
  padding: 6px;
  outline: none;
  display: block;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  transition: background 150ms ease;
}
button:hover,
input[type="text"]:hover,
input[type="text"]:focus,
select:hover,
select:focus {
  outline: none;
  background-color: var(--secondary-background-focus-color);
}
button:active {
  padding: 0px;
}
.special.button {
  background: var(--main-background-color);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  color: var(--highlight-color);
}
.special.button:active {
  transform: scale(0.95);
}

/*TABLETS*/
@media only screen and (max-width: 768px) {
}
/*MOBILE*/
@media only screen and (max-width: 480px) {
}
