html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  display: grid;
  grid-template-columns: 262px 1fr;
  height: 100vh;
  z-index: 1;
}
/*--------SIDEBAR--------*/
.sidebar {
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
  border-right: 2px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px 24px 32px 32px;
  background-color: #ffffff;
  z-index: 3;
}
/*--------LIGHT DARK TOGGLE--------*/
#toggleDark {
  position: relative;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 58px;
  height: 30px;
  border: 2px solid rgba(211, 211, 211, 0.6);
  border-radius: 40px;
  cursor: pointer;
}
#toggleDark:hover {
  border: 2px solid rgba(211, 211, 211, 0.9);
}
#toggleDark::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  right: 4px;
  top: 2.5px;
  background-image: url("/assets/sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out, right 0.4s ease-in-out, background-image 170ms ease-in-out 170ms;
  
}
#toggleDark:checked::before {
  right: 29px;
  transform: rotate(360deg);
  background-image: url("/assets/moon.svg");
}
/*--------HEADING--------*/
section.heading {
  margin-bottom: 40px;
}
header {
  width: 100%;
}
header h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #212121;
  margin: 0;
  margin-bottom: 8px;
}
.version {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #ec5739;
  padding-left: 12px;
}
/*--------UTILITIES--------*/
.utilities > div:not(.download) {
  margin-bottom: 24px;
}
/*--------TAB--------*/
.tab {
  position: relative;
  width: 100%;
  height: 36px;
  background: #f3f3f3;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.6);
  text-align: center;
}
.options {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 100%;
  height: 100%;
}
.options li {
  flex: 1;
  cursor: pointer;
  z-index: 2;
  transition: all ease-in 0.1s;
}
.options li.active {
  transition: all ease-in 400ms;
  color: #ec5739;
}
.options li:not(.active):hover {
  color: rgba(117, 117, 117, 0.9);
}
.slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: 28px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  z-index: 1;
  transition: all ease-in-out 400ms;
}
/*--------GRID CONTROLS--------*/
.grid-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.grid-counter {
  width: 134px;
  height: 36px;
  background: #f3f3f3;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757575;
  font-size: 14px;
}
.grid-counter button {
  width: 34px;
  height: 29px;
}
#toggle-lines {
  width: 60px;
  height: 36px;
}
/*--------COLOR PICKER--------*/
.color-picker-box {
  margin-bottom: 18px;
}
#color-picker-handle {
  filter: url(#color-picker-handle-dropshadow);
  /*-webkit-filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.3));*/
}
#color-picker-iro {
  flex-flow: column nowrap;
}
#color-picker-iro svg {
  cursor: pointer;
}
svg.IroBox {
  margin-bottom: 16px;
}
#active-color {
  width: 50px;
  height: 32px;
  background-color: black;
  border-radius: 6px;
}
.color-picker-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#eye-dropper {
  width: 37px;
  height: 32px;
}
#hex {
  width: 99px;
  height: 32px;
}
/*--------DOWNLOAD--------*/
.download {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px dashed #d3d3d3;
}
#download-button {
  width: 120px;
  height: 40px;
  background-color: #ec5739;
  border-radius: 8px;
  color: #ffffff;
}
#download-options {
  width: 74px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*--------MORE--------*/
.more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
}
.more a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-decoration: none;
}
#help-about {
  color: #ec5739;
}
#help-about:hover {
  color: #e0492b;
}
#clear-all {
  color: rgba(117, 117, 117, 0.6);
}
#clear-all:hover {
  color: #757575;
}
/*--------SIDEBAR EXTENSION--------*/
.sidebar-extension {
  position: absolute;
  top: 0;
  /*sidebar extension width - sidebar width*/
  left: -85px;
  height: 100vh;
  width: 340px;
  padding: 32px 32px 56px;
  box-shadow: 4px 0px 48px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
  transition: left 0.5s ease-out 0.3s;
  background-image: url("/assets/tree_illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 0px right 40px;
  background-size: 45.5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
#close-extension {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  /*sidebar extension width - (close button width / 2) */
  left: 320px;
  background: #ffffff;
  box-shadow: 4px 0px 48px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  color: #ec5739;
  font-size: 24px;
  line-height: 0;
  transform: scale(0) rotate(0deg);
  transition: all 0.3s ease-out;
}
/*when sidebar is active*/
.sidebar-extension.active {
  transition: left 0.5s ease-out;
  left: 262px;
}
.sidebar-extension.active #close-extension {
  transform: scale(1) rotate(360deg);
  transition: all 0.5s linear 0.1s;
}
.sidebar-extension section:not(.share) {
  margin-top: 16px;
  margin-bottom: 40px;
}
.sidebar-extension section.share {
  margin-top: auto;
}
.help p {
  line-height: 30px;
}
.about p {
  line-height: 24px;
  margin-bottom: 10px;
}
.credit {
  margin-top: 30px;
}
.about a {
  color: #ec5739;
  text-decoration: underline;
}
.about a:hover {
  text-decoration: none;
}
.share-social-media {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.share-social-media a {
  margin-right: 15px;
}
.share-social-media a:hover {
  filter: brightness(0.8);
}
.share-social-media img {
  vertical-align: top;
  width: 24px;
  height: 24px;
}
/*--------COMMON--------*/
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: #212121;
  margin: 0 0 8px 0;
}
p {
  width: 100%;
  letter-spacing: -0.5px;
  color: #757575;
  margin: 0;
}
strong {
  font-weight: 600;
  color: #212121;
}
.button img,
.button svg {
  vertical-align: middle;
}
#toggle-lines svg,
#eye-dropper svg {
  fill: #757575;
}

.button {
  padding: 0;
  outline: none;
  display: block;
  border: none;
  border-radius: 6px;
  background-color: #f3f3f3;
  text-align: center;
  color: #757575;
  font-size: 14px;
  cursor: pointer;
  transition: all 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"] {
  padding: 6px;
  outline: none;
  display: block;
  border: none;
  border-radius: 6px;
  background-color: #f3f3f3;
  text-align: center;
  color: #757575;
  font-size: 14px;
  transition: background 150ms ease;
}
button:hover,
input[type="text"]:hover,
input[type="text"]:focus,
select:hover,
select:focus {
  outline: none;
  background-color: #ebebeb;
}
button:active {
  padding: 0px;
}
.special.button {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  color: #ec5739;
}
.special.button:active {
  transform: scale(0.95);
}
